/* styles.css or a CSS module file */
.panel{
 border-radius:15px;
 padding: 20px;
 padding-top: 5px;
 background-color:white; 
 margin: 5px;
}
.actions{
    margin-left: auto;
}
.resizable-handle:hover {
  background-color: #0070f3; /* Highlight color on hover */
}